body
{
  background-size: cover;
}
.heading
{
  width: 100%;
}
.heading h3
{
  display: inline;
  float: left;
}
.heading button
{
  float: right;
  border: 1px solid white;
}
.canvas
{
  border: 3px solid purple;
  border-radius: 5px;
  
}